*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
   
}
html, body{
    height: 100%;
    width: 100%;
}
nav{
    width: 100%;
    position: fixed;
    display: flex;
    align-items: flex-start;
    padding: 2vw 7vw;
   justify-content: space-between;
   z-index: 10;
   height: 12vh;
   background-color: #111111;
   
   
}
.nav-logo h1 {
    font-size: 1.8vw;
    font-weight: 900;
}
.nav-part2{
    display: flex;
    align-items: flex-start;
    gap: 1vw;
    position: relative;
    padding: 1vh 0vh;
    z-index: 10;
    
}

.nav-part2 h4{
    font-size: 1vw;
    font-weight: 700;
    margin-bottom: 2.6vw;
    
} 
.nav-part2 h5 span{
    font-size: 0.9vw;
    font-weight: 400;
    display: none;
    overflow: hidden;
}

    

.nav-button button{
    display: flex;
    align-items: center;
   padding: 12px 12px;
    font-size: 1vw;
    border: none;
    border-radius: 50px;
    background-color: #0DA34E;
    font-weight: 700;
   

}
.nav-button button svg{
    height: 1vw;
    margin-left: 1vw;
}
.nav-bottom{
    width: 85%;
    height: 0vh;
    background-color: #111;
   z-index: 9;
   position: absolute;
    top: 100%;
    border-bottom: 1px solid rgb(176, 173, 173);

}

.moving-div{
    
    margin-top: 15vh;
    position: relative;
    bottom: 3%;
    white-space: nowrap;
    padding: 1.2vw;
    overflow: hidden;
    width: 44%;
}
.move{
    display: inline-block;
    animation-name: mobe;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
   
}
.move img{
    height: 10vh;
    width: 10vh;
    margin: 0vh 1vh;
    
}

@keyframes mobe {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
    
}
.left-move{
    height: 100%;
    width: 20%;
   background: linear-gradient(to right, #111,trasnparent);
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 2;
   
}
.right-move{
    height: 100%;
    width: 20%;
   background: linear-gradient(to right, trasnparent, #111111);
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 2;
}
.main{

}
.page-1{
    min-height: 150vh;
    width: 100%;
    background-color: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    

}
.page-1 h1{
  
    text-transform: uppercase;
    font-size: 8.5vw;
   font-weight: 900;
    line-height: 8.5vw;
    
}
.page-1 svg{
    height: 6vw;
    width: 6vw;
    border-radius: 50%;
    background-color: #0DA34E;
    cursor: pointer;
    transition: all ease-in 0.3s;
}
.page-1 svg:hover{
    height: 5.2vw;
    width: 5.2vw;
    rotate: -30deg;
}
.page-1 p{
    font-size: 3vh;
    font-weight: 400;
    text-align: center;
    margin-top: 4vw;
}

.page-1box{
    display: flex;
    align-items: center;
    justify-content: content;
    

}
.page-1box h4{
    margin-top: 1vh;
    font-size: 3vh;
    font-weight: 400;
    border: 1px solid rgb(174, 172, 172);
    border-radius: 50px;
    padding: 5px 10px;
    text-transform: lowercase;
}
.page-1box h4:nth-last-child(2){
    border: none;
    padding: 7px 2px;
}
.page-2{
    position: relative;
    width: 100%;
    min-height: 150vh;
    padding: 2vw 7vw;
    padding-bottom: 7vh;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(143, 140, 140);
}
.page-2left{
    height: 100vh;
    width: 40%;
    background-color: #111;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 3vh 0;
}
.page-2left p {
    font-size: 2.5vh;
}
.page-2left h5{
    font-size: 3.2vh;
    font-weight: 400;
}
.page-2right{
    height: 100vh;
    width: 50%;}

    .right-elem{
        border-bottom: 1px solid #333;
        position: relative;
        padding-top: 1vw;
        padding-bottom: 6.5vw;
       

    }
    
.right-elem img{
    height: 9vw;
    width: 9vw;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    scale: 0;
}

.right-elem h2{
    font-size: 1.8vw;
    font-weight: 400;
}
.page-3{
    height: 100vh;
    width: 100%;
    background-color: #111;
    background-image: url(https://lazarev.kiev.ua/la24/reel-cover.webp);
    position: relative;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page3-center{
    position: absolute;
    display: flex;
    align-items: center;
   flex-direction: column;
   cursor: pointer;
   
}

.page3-center h5{
    font-size: 2vh;
    font-weight: 700;
    padding: 6px 10px;
    background-color: rgba(244, 230, 152, 0.596);
    border-radius: 50px;
    margin-top: 1vh;
    opacity: 0;
    color: black;
    transition: all ease 0.4s;
    transform: translateY(10%);
}
.page3-center:hover h5{
    opacity: 1;
    transform: translateY(0%);

}


.page3-center i {
  
    font-size:2.5vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10vh;
    border-radius: 50%;
    color: black;

}
.page-3 video{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    transform: scaleX(0.7) scaleY(0);
    opacity: 0;
    border-radius: 30px;
    z-index: 9999999;

}